streamlit>=1.32
streamlit-folium>=0.18
streamlit-js-eval>=0.1.7
folium>=0.15
plotly>=5.18
pandas>=2.0
numpy>=1.24
gspread>=6.0
gspread-dataframe>=3.3
google-auth>=2.27
google-auth-oauthlib>=1.2
google-auth-httplib2>=0.2
google-api-python-client>=2.120
aeon>=0.5
Pillow>=10.0
requests>=2.31
